/* General Styles */

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #fff;
}

.navigation {
    background-color: #212121;
    padding: 1rem 0;
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
/* Contact Page Styles */

.contact-main {
    display: flex;
    justify-content: center;
    margin: 4rem 2rem;
}

.contact-info-section {
    width: 60%;
    background-color: #212121;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-info-section h1, .contact-info-section h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: #fff;
}

.contact-info-section p {
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.contact-info-section a {
    color: #2ecc71;
    text-decoration: none;
}

.contact-info-section a:hover {
    text-decoration: underline;
}

.contact-info-section .office-pic {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
}

.about-us-heading{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 1rem;
}
@media only screen and (max-width: 540px){
    .contact-main .contact-info-section .about-us-heading:nth-child(7){
        gap: 5px;
    }
    .contact-main .contact-info-section .about-us-heading:nth-child(7) img{
        margin-top: 5px;
        width: 2.5rem;
    }
    .contact-main .contact-info-section .about-us-heading img{
        width: 2rem;
    }
    .contact-info-section{
        width: 90%;
    }
    .contact-info-section .about-us-heading{
        margin-bottom: -2rem;
    }
    .contact-info-section .about-us-heading{
        font-size: 0.75rem;
    }
    .contact-info-section p{
        font-size: 1rem;
    }
}
@media only screen and (min-width:541px){
    .contact-main .contact-info-section .about-us-heading:nth-child(7){
        gap: 5px;
    }
    .contact-main .contact-info-section .about-us-heading:nth-child(7) img{
        margin-top: 5px;
        width: 2.5rem;
    }
    .contact-main .contact-info-section .about-us-heading img{
        width: 2rem;
    }
    .contact-info-section{
        width: 70%;
    }
    .contact-info-section .about-us-heading{
        margin-bottom: -1rem;
    }
    .contact-info-section .about-us-heading{
        font-size: 0.75rem;
    }
    .contact-info-section p{
        font-size: 1rem;
    }
    .about-us-pictures{
        width: 500px;
    }
}
@media only screen and (min-width:768px){
    .contact-main .contact-info-section .about-us-heading:nth-child(7){
        gap: 5px;
    }
    .contact-main .contact-info-section .about-us-heading:nth-child(7) img{
        margin-top: 15px;
        width: 4rem;
    }
    .contact-main .contact-info-section .about-us-heading img{
        width: 3.5rem;
    }
    .contact-info-section{
        width: 80%;
    }
    .contact-info-section .about-us-heading{
        margin-bottom: 0rem;
    }
    .contact-info-section .about-us-heading{
        font-size: 1rem;
    }
    .contact-info-section p{
        font-size: 1.5rem;
    }
}
@media only screen and (min-width:1024px){
    .contact-main .contact-info-section .about-us-heading:nth-child(7){
        gap: 5px;
    }
    .contact-main .contact-info-section .about-us-heading:nth-child(7) img{
        margin-top: 20px;
        width: 3.5rem;
    }
    .contact-main .contact-info-section .about-us-heading img{
        margin-top: 20px;
        width: 3rem;
    }
    .contact-info-section{
        width: 90%;
    }
    .contact-info-section .about-us-heading{
        font-size: 1rem;
    }
    .contact-info-section p{
        font-size: 1.5rem;
    }
    .contact-info-section h1{
        font-size: 4rem;
    }
}
@media only screen and (min-width:1025px){
    .contact-info-section{
        width: 60%;
    }
    .contact-info-section .about-us-heading{
        margin-bottom: 0rem;
    }
    .contact-info-section .about-us-heading{
        font-size: 1rem;
    }
    .contact-info-section p{
        font-size: 1rem;
    }
}
@media only screen and (max-height:600px){
    body{
        font-size: 1rem;
    }
    .contact-info-section{
        width: 60%;
    }
    .contact-info-section h1{
        font-size: 2rem;
    }
    .contact-info-section .about-us-heading{
        margin-bottom: 0rem;
    }
    .contact-info-section .about-us-heading{
        font-size: 0.7rem;
    }
    .contact-info-section p{
        font-size: 0.8rem;
    }
}