/* Basic Styles */

body {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    background-color: #171717;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem;
}

@media only screen and (min-width: 1024px) {
    .hide {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.5s, transform 0.5s;
    }

    .show {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.5s, transform 0.5s;
    }
}

main {
    margin-left: 2em;
    display: flex;
    justify-content: space-between;
}

main img {
    margin-top: 5%;
    width: 50%;
    height: auto;
}

.description {
    margin-top: 4em;
    width: 40%;
    height: auto;
}

.description h1 {
    font-size: 4em;
}

.description p {
    font-size: 1.3em;
}

.access-btn {
    background-color: #2ecc71;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4em;
}

.access-btn i {
    font-size: 1.2rem;
}

.access-btn:hover {
    background-color: #27ae60;
}

/* Why Print With Us Section Styles */

.why-print {
    margin: 4rem 0;
    padding: 2rem;
    background-color: #212121;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
}

.why-print h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: #FFF;
}

.why-print p {
    font-size: 1.3em;
}

.why-print ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin: 0;
    color: #ddd;
    font-size: 1.3em;
}

.why-print ul li {
    margin-bottom: 0.75rem;
}

/* Gallery Styles */

.gallery {
    margin: 4rem 0;
    width: 100%;
}

.gallery h1 {
    font-size: 3.5em;
    padding-left: 2rem;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-sub-item img {
    width: 100%;
    height: auto;
    border-radius: 3%;
    margin-bottom: 1rem;
    width: auto;
    margin-right:5em;
}

.gallery-sub-item {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    padding: 2.5em 0 2.5em 0;
    border-bottom: solid 1px #637474;
    height: 40vh;
}

.gallery-sub-item div h2 {
    font-size: 2.5em;
}

.gallery-sub-item div {
    width: 40%;
}

.gallery-sub-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.gallery-sub-item p{
    display: none;
}
.gallery-sub-item div p{    
    font-size: 1.3em;
    display: block;
}
/* Adjustments for mobile devices */
@media only screen and (max-width: 1335px) {
    main {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    main .description{
        width: 90%;
    }
    main img {
        display: none !important;
    }
    .description {
        width: 90%;
        margin-top: 2rem;
    }
    .description h1 {
        font-size: 2.5em;
    }
    .description p {
        font-size: 1.1em;
    }
}
@media only screen and (max-width:790px){
    .gallery-sub-item {
        flex-direction: column !important;
        justify-content: center;
        width: 100%;
        align-items:flex-start;
        padding-left: 2em;
        height: auto;
    }
    .gallery-sub-item img{
        width: 40%;
        margin-left: 2em;
    }
    .gallery-sub-item div{
        width: 90%;
    }
    .gallery-sub-item img{
        margin-left: 3em;
    }
    .gallery-sub-item div p{
        display: none;
    }
    .gallery-sub-item p{
        display: block;
        width: 90%;
    }
    .gallery h1{
        margin-bottom: 0;
    }
    .whatsapp-box{
        width:80%;
    }
}
@media only screen and (max-width:430px) {
    .gallery h1{
        font-size: 2.5em;
        margin-top:-2rem;
    }
    main img {
        display: none;
    }
    .gallery-sub-item div h2{
        font-size: 1.5em;
    }
    .gallery-sub-item:nth-child(1) div h2{
        margin-top: -2rem;
    }
    .gallery-sub-item div {
        width: 90%;
    }
    .gallery-sub-item div p {
        width: 90%;
    }
    .why-print h1{
        font-size: 2em;
    }
    .why-print p{
        font-size: 1em;
    }
    .why-print ul{
        font-size: 1em;
    }
    .whatsapp-box{
        width:80% !important;
    }
}
